<img src="../assets/images/LTI-LOGO.png" style="float: left;">
<h2 href="#" style="text-align: center; font-size: 70px; float: none;">General Insuarnce</h2>
<!--nav bar-->
<div style="font-size: large;">

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="padding: 1%; font-size: larger;">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#faq">FAQ</a>
          </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item" *ngIf="userId"><a class="nav-link" routerLink="/userdashboard">Dashboard</a></li>
            <li class="nav-item" *ngIf="userId"><a class="nav-link" href="/" (click)="logout()">Logout</a></li>
          </ul>
            
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" style="float: right" *ngIf="userId==null" (click)="signin()">Signup/Signin</button>
      </nav>

      <section >
        <article style="float: left; width: 70%; padding: 5%; font-size: larger; text-align: justify;">
            <h1>Why Insurance ?</h1>
            <p>General Insurance helps us protect ourselves and the things we value– from theft, car accidents, travel mishaps – and even from the costs of legal action against us.
               Buying insurance is important as it ensures that you are financially secure to face any type of problem in life, and this is why insurance is a very important part of financial planning.
                The convenient part of it is that you can purchase all these insurance policies online nowadays.
              </p>
            </article>
          <article style="float: right; padding: 5% ;font-size: larger;" >
    
            <button class="btn btn-outline-success my-2 my-sm-0" style="float: right; width: 250px; font-size: larger;"  routerLink="/buyInsurance">Buy Insurance</button><br><br>
            <button class="btn btn-outline-success my-2 my-sm-0" style="float: right; width: 250px; font-size: larger;" >Claim Insurance</button><br><br>
            <button class="btn btn-outline-success my-2 my-sm-0" style="float: right; width: 250px;font-size: larger;" >Renew Insurance</button><br><br>
            <button class="btn btn-outline-success my-2 my-sm-0" style="float: right; width: 250px;font-size: larger;" >Estimate Premium</button>
            
        </article>
      </section>
      <hr>

      <div id="faq" style="font-size: larger; padding: 5%;">
        <h1>Two Wheeler Insurance</h1>
        <br>
        <p style="text-align: justify;">
           <b>What are the benefits of buying two wheeler insurance online?</b><br>
            When you buy two wheeler insurance online, you get an instant policy in a contactless way, as there is no documentation or paperwork involved. Also, you get the advantage of choosing from multiple payment options, e.g. Credit Card (Visa, Master Amex card), Net banking, Debit Card etc.
            <br><br>
            <b>What is the penalty that I may incur if my two wheeler is uninsured?</b><br>
            As per Section 197 of the Motor Vehicles Act, 1988, if you are caught driving without insurance, you will be charged ₹2000 fine the first time and ₹4000 subsequently.<br>
        </p>
    
        <br>
        <br>
    
    
        <h1>Four Wheeler Insurance</h1>
        <br>
        <p style="text-align: justify;">
           <b>Why do I need to insure my car?</b><br>
           In India, third-party car insurance is compulsory for all car owners. Moreover, own-damage car insurance covers you in case of accidents, theft and fire. In case of any untoward incident, you don't have to pay out of pocket for repairs or replacement if you have a valid insurance policy.        <br><br>
            <b>What are the risks covered by Private Car Package Insurance Policy?</b><br>
            Car insurance covers damages to your own car, as well as the damages your car makes to others & surrounding property. Some of the risks it covers include fire, theft, natural calamities, explosion and self-ignition.    
    
            <br><br>
            <b>What is personal accident insurance cover?</b><br>
            Personal accident insurance covers death or disability caused due to an unfortunate accident. The motor insurance policy essentially has a personal accident cover for the registered owner-driver, as per tariff, for which no extra premium is to be paid. For a person other than the registered owner and driver, the personal accident cover has to be purchased separately by paying an additional premium. The amount paid as compensation depends upon the extent of opted cover.
    
            </p>
    
    </div>

<hr>
<div id="about" style="font-size: larger; padding: 5%;">
    <h1>About Us</h1>
    <br>
    <p style="text-align: justify;">Insured Trust is General Insurance Company. It was incorporated in Mumbai, Maharashtra on December 5 2016. The Company has strong presence with many offices and skilled employees and Agent. The Company received the certificate of registration from IRDA on 2nd May 2017 to conduct general insurance business in India. The Company has continuously been expanding its operations to reach out to its customers. The Company has its brand identity as ‘Lets Insure and Be Secure’ to reposition itself in the minds of Indian consumers as a brand that protects and cares about customer’s financial worries around their most prized possession - their vehicles With this, the Company not just aims to take its service to the next level, but also seeks to provide the best customer experience at every touchpoint and make insurance a pull rather than a push product.</p>
</div>
<hr>

<div id="contact" style="font-size: larger; padding: 5%;">
  <h1>Contact Us</h1>
  <br>
  <p>Phone number : 9988776655</p>
  <br>
  <P>Email: genralinsurance.lti@gmail.com</P>
  </div>

</div>

