<div class="form-holder" style="height: 50vmax;">
    <div class="form-content">
        <div class="form-items">
            <form #passwordForm="ngForm" (submit)="forgot(passwordForm)">
                <input class="form-control" type="text" name="username" pattern="[a-z0-9._%+-]+@[a-z0-9-]+.[a-z]{2,4}$" [pattern]="emailptn"
                    placeholder="E-mail Address" required #email="ngModel" [(ngModel)]="userEmail" style="width: 50%;">
                <div *ngIf="email.invalid && (email.touched||email.dirty)" style="color: red;border: red;">
                    <div *ngIf="email.invalid && (email.touched||email.dirty)" style="color: red;border: red;" >
                        <span class="error-msg" *ngIf="email.errors?.required">email is required</span>
                        <span class="error-msg" *ngIf="email.errors?.pattern">Invalid email</span>
                    </div>
                </div><br><br>
                <button (click)="generateOtp()">Send OTP</button>
                <div *ngIf="i">
                <input matinput type="password" [type]="hide ? 'password':'text'" class="form-control" name="password"
                    placeholder="New Password" required #password="ngModel" [(ngModel)]="userPassword" #Password="ngModel" [pattern]="passwordPtn"
                    style="width: 50%;" />
                    <div *ngIf="Password.invalid && (Password.touched||Password.dirty)" style="color: red;border: red;">
                        <span class="error-msg" *ngIf="(Password.touched ) && Password.errors?.required">Password Required</span>
                        <span class="error-msg" *ngIf="(Password.touched ) && Password.errors?.pattern">Passwordmust be 8-12 characters</span>
                    </div>
                <span id="visibility"><i class="fa fa-eye" matSuffix (click)="hide = !hide">
                        {{hide ? '':''}}
                    </i>
                </span>
            </div>
                <br><br>
                <div *ngIf="i">
                    Enter the OTP
                    <input type="text" class="form-control" name="otp" placeholder="******" required #OTP="ngModel" [(ngModel)]="otp" maxlength="6" minlength="6">
                </div>
                
                <div *ngIf="i" class="form-button">
                    <button id="submit" type="submit" class="ibtn">Submit</button>
                </div>
                <br>
            </form>

        </div>
    </div>
</div>