<p>calculate-premium works!</p>

<img src="../assets/images/LTI-LOGO.png" style="float: left;">
<h2 href="#" style="text-align: center; font-size: 70px; float: none;">Calculate premium</h2>
<div class="form-holder" style="height: 50vmax;">
    <div class="form-content">
        <div class="form-items">

            <form #premiumForm="ngForm" (submit)="calculate(premiumForm)">
                <p>Vehicle Type:</p>
                <div class="inline-el-holder">
                    <span class="inline-el">
                        <div class="rad-with-details">
                            <input class="form-check-input" type="radio" id="rad1" name="vehicleType"
                                [(ngModel)]="vehicleType" value="Two wheeler" required
                                (change)="onItemChange($any($event.target).value)"><label for="rad1">Two wheeler</label>
                        </div>
                    </span>
                    <span class="inline-el">
                        <div class="rad-with-details">
                            <input class="form-check-input" type="radio" id="rad2" name="vehicleType"
                                value="Four wheeler" [(ngModel)]="vehicleType" required checked
                                (change)="onItemChange($any($event.target).value)"><label for="rad2">Four wheeler</label>
                        </div>
                    </span>
                </div><br>
                
                <label>Vehicle Age :</label>
                <br>
                <input class="form-control" type="number" name="age" placeholder="Enter vehicle age" required  [(ngModel)]="age" style="width: 50%;" (change)="onAgeChange($any($event.target).value)">
                <br>
                <div class="form-button">
                    <button id="submit" type="submit" class="ibtn" (click) = "calpremium()">Submit</button>
                </div>
                </form>

                <label>Premium Amount :</label> {{premiumAmount}}
